@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 245, 243, 232;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: 255, 255, 255;
  }
}

body {
  background: rgb(var(--background-rgb));
}
